@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --overlay-grey: #1e1e1e;
  --background-grey: #121212;
  --main-text: #b9b7b7;
  --heading-grey: #929292;
  --main-brand: #bb86fc;
  --error-red: #cf6679;
}

body {
  background: var(--background-grey);
}

nav {
  /* background: var(--overlay-grey); */
  position: fixed;
  top: 0;
  z-index: 51;
  transition: all 0.3s ease-in-out;
}

.links,
.search-btn {
  color: var(--main-text);
}

.links li {
  transition: all 0.15s ease-in-out;
  font-size: 0.9rem;
}

.links li:hover {
  color: var(--main-brand);
}

._hidden {
  opacity: 0;
  transform: scale(0);
}

._visible {
  opacity: 1;
  transform: scale(1);
}

.search-bar {
  border: 2px var(--main-text) solid;
  color: var(--main-text);
  transform-origin: 100% 50%;
  transition-timing-function: cubic-bezier(0.25, 0.75, 0.5, 1.05);
}

.search-bar .search-param:focus {
  outline: none;
}

.search-bar .search-param::placeholder {
  color: var(--main-text);
}

.r-handside div .fa-magnifying-glass {
  top: 0.5px;
}

.fa-xmark {
  top: 2px;
  transition: all 0.2s ease-in-out;
}

.fa-xmark:hover {
  color: var(--error-red);
}

.sect-title {
  font-size: 1.4rem;
  color: var(--heading-grey);
  font-weight: 500;
}

.title {
  text-decoration: none;
  color: var(--main-text);
  font-weight: 500;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.media-card,
.cover,
.details-overlay,
.title {
  transition: all 0.3s ease-in-out;
}

.media-wrapper {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: grid;
  grid-gap: 25px 20px;
  grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
  justify-content: space-between;
}

.basic-dets-synopsis {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--main-brand);
}

@media screen and (min-width: 1024px) {
  .media-wrapper {
    grid-template-columns: repeat(auto-fill, 185px);
    grid-gap: 28px 30px;
  }
}

.view-info {
  transition: all 0.1s ease-in-out;
}

.view-info:hover {
  border-color: var(--main-brand);
}

.view-info:hover i {
  color: var(--main-brand);
}

.hero-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  transform-origin: left center;
}

.basic-dets-play i {
  transition: all 0.1s ease-in-out;
}

.basic-dets-play:hover i {
  color: var(--main-brand);
}

.hq-thumbnail {
  transition: all 0.3s ease-in-out;
}
