@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --overlay-grey: #1e1e1e;
  --background-grey: #121212;
  --main-text: #b9b7b7;
  --heading-grey: #929292;
  --main-brand: #bb86fc;
  --error-red: #cf6679;
}

body {
  background: var(--background-grey);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  z-index: 50;
  transition: all 0.3s ease-in-out;
}

/* search bar */

/* mobile search box */
.search__container div {
  padding: 12px 10px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 0.9rem;
  line-height: 18px;
  color: var(--main-text);
  border-radius: 50px;
  border: 1px solid var(--main-text);
  transition: all 250ms ease-in-out;
}

.search__input {
  background: transparent;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: var(--main-text);
  font-size: 0.9rem;
}
.search__container div:hover,
.search__container div:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--main-text);
  border-radius: 0;
  background-position: 100% center;
}

.links,
.search-btn {
  color: var(--main-text);
}

.links li {
  transition: all 0.15s ease-in-out;
  font-size: 0.9rem;
}

.links li:hover {
  color: var(--main-brand);
}

.sect-title,
.search-value {
  font-size: 1.4rem;
  color: var(--heading-grey);
  font-weight: 500;
}

.title {
  text-decoration: none;
  color: var(--main-text);
  font-weight: 500;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.media-card,
.details-overlay,
.title {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cover {
  transition: all 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.title {
  cursor: pointer;
}

.media-wrapper {
  display: grid;
  grid-gap: 30px 25px;
  grid-template-columns: repeat(2, 160px);
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: space-between;
}

.skeleton-card > div:first-of-type {
  width: 160px;
  height: 229.19px;
}

/* media queries */
@media (min-width: 370px) {
  .media-wrapper {
    overflow-x: visible;
    overflow-y: visible;
  }
}

@media (min-width: 390px) and (max-width: 460px) {
  .media-wrapper {
    grid-template-columns: repeat(2, 170px);
  }

  .cover {
    height: 243.51px;
  }

  .skeleton-card > div:first-of-type {
    width: 170px;
    height: 243.51px;
  }
}

@media (min-width: 461px) {
  .media-wrapper {
    grid-gap: 30px 12px;
    grid-template-columns: repeat(auto-fill, 135px);
  }

  .cover {
    height: 193.38px;
  }

  .skeleton-card > div:first-of-type {
    width: 135px;
    height: 193.38px;
  }
}

@media (min-width: 770px) {
  .media-wrapper {
    grid-template-columns: repeat(auto-fill, 185px);
  }

  .cover {
    height: 265px;
  }

  .skeleton-card > div:first-of-type {
    width: 185px;
    height: 265px;
  }
}
/* end of media queries */

.basic-dets-synopsis {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--main-brand);
}

.swiper-pagination-progressbar-fill {
  background: var(--main-brand) !important;
}

.view-info,
.add-basic {
  transition: all 0.1s ease-in-out;
}

.view-info:hover,
.add-basic:hover {
  border-color: var(--main-brand);
}

.view-info:hover i,
.add-basic:hover i {
  color: var(--main-brand);
}

.featured-info header {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.featured-desc {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  max-width: 100%;
}

.featured-genres .genre {
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .featured-desc {
    max-width: 80%;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
  }
}

.info-overlay {
  background-color: rgb(0, 0, 0, 0.5);
  transition: all 0.45s ease-in-out;
}

.info-modal {
  background: var(--overlay-grey);
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transform: translateY(100%);
}

.scaled-def {
  transform: translateY(0);
}

/* loading animations */
.lds-ring {
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--main-brand);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main-brand) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton-title::before,
.skeleton-poster::before {
  z-index: 0;
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgb(63, 63, 63),
    transparent
  );
  transform: translateX(-100%);
  animation: loading 1.3s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

/* end of loading animations */

.main-content {
  grid-template-columns: 135px auto;
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: 230px auto;
  }
}

.ctas {
  grid-template-columns: auto auto auto;
}

.ctas button {
  transition: all 0.2s ease-in-out;
  border: 1px solid #f5f5f5;
  background: rgba(265, 265, 265, 0.1);
  padding: 4px 7px;
  color: #f5f5f5;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 8px;
}

.add:hover,
.watch-trailer:hover {
  color: var(--main-brand);
  border-color: var(--main-brand);
}

.info-synopsis {
  --max-lines: 5;
  /* --line-height: 1.5;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden; */

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.expand-btn {
  transition: all 0.2s ease-in-out;
  appearance: none;
  border: 1px solid #cdcdcd;
  background: rgba(265, 265, 265, 0.1);
  padding: 3px 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 8px;
}

.expand-btn:hover {
  background: rgba(265, 265, 265, 0.2);
}

.expand-btn:checked::before {
  content: 'Read Less';
  color: #cdcdcd;
}

.expand-btn::before {
  content: 'Read More';
  color: #cdcdcd;
}

.sm-screen-title .info-title {
  --max-lines: 1;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.info-synopsis:has(+ .expand-btn:checked) {
  -webkit-line-clamp: 1000;
}

.accordion {
  transition: all 0.2s ease-in-out;
}

.accordion {
  background: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.accordion:hover {
  background: rgba(0, 0, 0, 0.5);
}

.panel {
  transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1);
  transform-origin: top center;
}

select:focus {
  outline: none;
}

select {
  background: rgba(0, 0, 0, 0.5);
}

select option {
  background: #1b1b1b;
  color: #e9e6e6;
  cursor: pointer;
}

.acc-indicator {
  transition: all 0.3s ease-in-out;
}

.acc-indicator.down {
  transform: rotate(90deg);
}
